@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-accent:        #1D6FBF;
    --color-accent-light:  #4A96EC;
    --color-accent-dark:   #134F8A;
    --color-brand-bg:      #F0F6FC;
    --color-brand-sidebar: #072E5A;
    --color-brand-text:    #0A2B54;
  }

  body {
    @apply bg-brand-50 text-brand-900 font-sans;
  }
}
